@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--azul-escuro);
}

h1, h2 {
  font-family: 'Cinzel', serif;
}

:root {
  --azul-escuro: #032644;
  --azul-medio: #0A3D62;
  --dourado: #F7C76A;
  --dourado-claro: rgba(247, 199, 106, 0.75);
  --dourado-medio: rgba(247, 199, 106, 0.65);
  --azul-medio-transparente: rgba(10, 61, 98, 0.85);
  --branco: #ffffff;
  --branco-suave: rgba(255, 255, 255, 0.85);
  --branco-fraco: rgba(255, 255, 255, 0.5);
}


:global(.container) {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}
