:root {
    --azul-escuro: #032644;
    --azul-medio: #0A3D62;
    --dourado: #F7C76A;
    --dourado-claro: rgba(247, 199, 106, 0.75);
    --dourado-medio: rgba(247, 199, 106, 0.65);
    --azul-medio-transparente: rgba(10, 61, 98, 0.85);
    --branco: #ffffff;
    --branco-suave: rgba(255, 255, 255, 0.85);
    --branco-fraco: rgba(255, 255, 255, 0.5);
}